---
import GradientContainer from "../components/GradientContainer.astro";
import Header from "../components/Header.astro";

import MainLayout from "../layouts/MainLayout.astro";
import SolidContainer from "../components/SolidContainer.astro";
import Spotlight from "../components/Spotlight.astro";

import "../styles/base.css";
---

<MainLayout title="Portfolio - Dhruv Malik | Software Engineer | Ethical Hacker">

	<GradientContainer>
		<section class="flex flex-col h-screen">

			<Header></Header>

			<div class="grow flex flex-row">

				<div class="w-1/2 flex flex-col justify-center font-poppins font-bold">

					<div class="pl-6 mt-[-15%]">

						<h2 class="text-4xl pb-3">Building & Securing</h2>
						<h1 class="text-5xl pb-12">Web Applications</h1>
						<h3 class="font-medium text-2xl">Fullstack Developer, Security Enthusiast</h3>

					</div>
					
				</div>

				<div class="w-1/2 flex justify-center items-center">
					<lottie-player src="/assets/animations/developer.json"  class="absolute mt-[-10%] z-10" background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
					<Spotlight top="-150px" width="43.5rem" height="27.1rem" rotation="37deg" variant="blue"></Spotlight>
				</div>

			</div>

		</section>
	</GradientContainer>

	<SolidContainer>

		<section class="flex flex-col py-5">
			<div class="w-full flex flex-row items-center">
				<div class="pl-6 h-8 w-8 bg-light-blue rounded"></div>
				<h2 class="pl-2 text-3xl font-bold">About</h2>
			</div>

			<div class="flex flex-row justify-center py-12">

				<div>
					<img class="h-40" src="/assets/images/profile_pic.png">
				</div>

				<div class="flex flex-col justify-center font-poppins font-semibold text-xl w-[45%] pl-10">
					<p>Software developer focused on web application development and security, 
					with an interest in the internet of things.</p>

					<div class="pt-9 text-base font-bold">

						<a href="/files/resume.pdf" class="rounded-3xl py-3 px-5 mr-3 bg-light-blue">View Resume ⩥</a>
						<a href="/files/resume.pdf" class="mr-3">IN</a>
						<a href="/files/resume.pdf" class="mr-3">GH</a>

					</div>
		
				</div>

			</div>
		</section>

	</SolidContainer>

	<GradientContainer></GradientContainer>
	<SolidContainer></SolidContainer>
	<GradientContainer></GradientContainer>
</MainLayout>

