---
import GradientContainer from "../components/GradientContainer.astro";
import Header from "../components/Header.astro";

import MainLayout from "../layouts/MainLayout.astro";
import SolidContainer from "../components/SolidContainer.astro";
import Spotlight from "../components/Spotlight.astro";

import "../styles/base.css";
import SectionHeadingLeft from "../components/SectionHeadingLeft.astro";
import StandardSectionWrapper from "../components/StandardSectionWrapper.astro";
import Skill from "../components/Skill.astro";
import ReverseGradientContainer from "../components/ReverseGradientContainer.astro";
import SkillGroup from "../components/SkillGroup.astro";
import Service from "../components/Service.astro";
import Project from "../components/Project.astro";
---

<MainLayout title="Dhruv Malik | Software Engineer | Security Enthusiast">

	<GradientContainer>
		<section aria-label="Personal Summary" class="flex flex-col h-screen min-h-[667px]">

			<Header></Header>

			<div class="grow flex content-end lg:content-center flex-wrap-reverse items-center gap-y-10">

				<div class="w-full lg:w-1/2 flex flex-col justify-center items-center text-center lg:text-left lg:pl-6 lg:mt-[-7.5%] z-10">

					<div class="font-poppins font-bold">

						<hgroup>
							<div class="flex justify-center lg:justify-start">
								<p class="pb-3 text-2xl md:text-3xl lg:text-4xl overflow-hidden whitespace-nowrap inline-block animate-type">Building & Securing</p>
								<p aria-hidden="true" class="pb-3 text-2xl md:text-3xl lg:text-4xl inline-block animate-cursor">_</p>
							</div>
							<h1 class="text-3xl md:text-4xl lg:text-5xl pb-12">Web Applications</h1>
						</hgroup>
						<h2 class="font-medium text-xl md:text-2xl">Fullstack Developer, Security Enthusiast</h2>

					</div>
					
				</div>

				<div class="h-1/2 w-full lg:w-1/2 flex justify-center items-center mt-[10%] lg:mt-[-12%]">

					<figure class="absolute z-10 w-96 h-96 lg:w-[31.25rem] lg:h-[31.25rem]" aria-label="animated illustration of a software developer floating in the air">
						
						<dotlottie-player
							src="/assets/animations/developer.lottie"
							autoplay="true"
							loop="true"
							worker="true"
						>
						</dotlottie-player>
						
					</figure>

					<div class="hidden lg:block">
						<Spotlight top="10%" width="43.5rem" height="27.1rem" rotation="37deg" variant="blue"></Spotlight>
					</div>
					<div class="lg:hidden relative h-0">
						<Spotlight top="-60%" width="23.5rem" height="30rem" rotation="129deg" variant="blue"></Spotlight>
					</div>
				</div>

			</div>

		</section>

	</GradientContainer>

	<SolidContainer>

		<StandardSectionWrapper title="About Me">

			<SectionHeadingLeft colorClass="bg-light-blue">About</SectionHeadingLeft>

			<div class="flex flex-col lg:flex-row justify-center align-middle py-12">

				<div class="flex flex-row justify-center">
					<img class="h-40 w-40" src="/assets/images/profile_pic.webp" alt="Headshot of Dhruv">
				</div>

				<div class="flex flex-col justify-center font-poppins font-semibold text-lg md:text-xl text-center lg:text-left lg:w-[45%] pt-5 lg:pt-0 lg:pl-10">
					<p>Software developer focused on web application development and security, 
					with an interest in artificial intelligence.</p>

					<div class="pt-6 text-base font-bold flex flex-row text-center align-center justify-center lg:justify-start">

						<a href="/files/resume_public.pdf" class="rounded-3xl px-5 pt-3 mr-5 bg-light-blue hover:opacity-90" aria-label="View Resume">View Resume <span aria-hidden="true" class="fa-solid fa-arrow-right"/> </a>
						<a href="https://linkedin.com/in/dhruvmalik" class="mr-5 py-1 text-3xl hover:opacity-80" aria-label="View Linkedin Profile"> <span class="fa-brands fa-linkedin"></span> </a>
						<a href="https://github.com/dhruv-tech/" class="mr-5 py-1 text-3xl hover:opacity-80" aria-label="View Github Profile"> <span class="fa-brands fa-github"></span> </a>

					</div>
		
				</div>

			</div>

		</StandardSectionWrapper>
	</SolidContainer>

	<ReverseGradientContainer>

		<StandardSectionWrapper title="Services offered and technical skills">

			<SectionHeadingLeft colorClass="bg-medium-purple">
				Services & Skills	
			</SectionHeadingLeft>

			<div class="relative lg:hidden">
				<div class="absolute">
					<Spotlight top="-150px" left="60vw" width="579px" height="339px" rotation="8deg" variant="purple"></Spotlight>
				</div>
			</div>

			<div class="relative hidden lg:block">
				<div class="absolute">
					<Spotlight top="-200px" left="75vw" width="579px" height="339px" rotation="8deg" variant="purple"></Spotlight>
				</div>
			</div>

			<div class="flex flex-col lg:flex-row z-10 align-center lg:justify-center" role="list" aria-label="Services Offered">

				<Service thumbnail="/assets/animations/mobile_development" label="a floating smartphone displaying a to-do app interface">
					Frontend & Hybrid Mobile Development
				</Service>
				
				<Service thumbnail="/assets/animations/backend" label="servers communicating in a datacenter">
					Backend Development
				</Service>

				<Service thumbnail="/assets/animations/penetration_testing" label="a rotating security camera">
					Penetration Testing<br role="presentation"/>for Web Apps
				</Service>

			</div>

			<div class="relative lg:hidden">
				<div class="absolute">
					<Spotlight top="-70px" left="-25vw" width="750px" height="339px" rotation="8deg" variant="purple"></Spotlight>
				</div>
			</div>

			<div class="relative hidden lg:block">
				<div class="absolute">
					<Spotlight top="-60px" left="-9vw" width="1100px" height="339px" rotation="8deg" variant="purple"></Spotlight>
				</div>
			</div>

			<div class="flex flex-col z-10 px-2 lg:px-10 pb-10">

				<div class="bg-dark-blue px-6 lg:px-12 pt-6 font-poppins rounded-2xl border-[2px] border-slate-900">

					<SkillGroup name="Languages & Frameworks I use">

						<Skill>JavaScript</Skill>
						<Skill>Node.js</Skill>
						<Skill>TypeScript</Skill>
						<Skill>Python</Skill>
						<Skill>Java</Skill>
						<Skill>HTML</Skill>
						<Skill>CSS</Skill>
						<Skill>Express</Skill>
						<Skill>Fastify</Skill>
						<Skill>Svelte</Skill>
						<Skill>React</Skill>
						<Skill>Vue.js</Skill>
						<Skill>Astro</Skill>
						<Skill>Auth0</Skill>
						<Skill>NativeScript</Skill>
						<Skill>Tailwind</Skill>
						<Skill>Lottie</Skill>
						<Skill>JQuery</Skill>

					</SkillGroup>
	
					<SkillGroup name="I manage my data with">

						<Skill>MongoDB</Skill>
						<Skill>JSON</Skill>
						<Skill>Redux</Skill>
						<Skill>Pinia</Skill>
						<Skill>Svelte Store</Skill>

					</SkillGroup>

				</div>

			</div>

		</StandardSectionWrapper>

	</ReverseGradientContainer>

	<SolidContainer>

		<StandardSectionWrapper title="Featured Side Projects">

			<SectionHeadingLeft colorClass="bg-medium-turquoise">
				Side Projects
			</SectionHeadingLeft>

			<div class="m-6 flex flex-row justify-center text-center lg:text-left">

				<Project title="Aqueduct" thumbnail="/assets/animations/aqueduct" github="https://github.com/dhruv-tech/Aqueduct">
					A SMS-based chatbot designed to empower feature phone users with access to the internet. 
					Built with NodeJS & Twilio SDK.
				</Project>

			</div>

			<div class="m-6 flex flex-row-reverse justify-center text-center lg:text-right">
				
				<Project title="NinjaChefs + AI" thumbnail="/assets/animations/ninjachefs" github="https://github.com/dhruv-tech/ninjachefs" demo="https://go.dhruv.tech/p/ninjachefs">
					Web application that leverages Generative AI to simplify online recipe sharing. 
					Built with React, NodeJS, Clerk, MongoDB & OpenAI Platform SDK.
				</Project>

			</div>

			<div class="m-6 flex flex-row justify-center text-center lg:text-left">
				
				<Project title="Alpha Calorie Tracker" thumbnail="/assets/animations/calorie_tracker" github="https://github.com/dhruv-tech/calorie-tracker">
					A web app developed for UBC students to easily discover food options on campus and track their daily caloric intake. 
						Built with React, Redux, NodeJS & MongoDB.
				</Project>

			</div>
			
			<div class="flex flex-col flex-grow justify-center align-middle text-center font-poppins font-bold">
				<div class="mt-8 lg:mt-0 mb-10">
					<a aria-label="Explore Projects on GitHub" href="https://github.com/dhruv-tech" class="rounded-3xl py-3 px-5 mt-3 bg-white text-slate-900 w-60 hover:opacity-90">
						Explore Projects on GitHub
						<span class="fa-brands fa-github"></span> 
					</a>
				</div>
			</div>

		</StandardSectionWrapper>

	</SolidContainer>


	<ReverseGradientContainer>

		<section aria-label="Contact information" class="flex flex-row font-poppins font-bold">

			<div class="bg-light-blue h-[400px] flex flex-col align-middle text-center justify-center w-[35%] md:w-[32%] ml-[-32px] rounded-br-[160px] lg:rounded-br-[175px] min-[1650px]:mt-10 min-[1650px]:ml-0 min-[1650px]:rounded-[25px] min-[1650px]:w-[25%]">
				<h2 class="text-3xl md:text-4xl">Get in touch</h2>
			</div>

			<div class="flex flex-col flex-grow justify-center align-middle text-center">
				<p class="text-xl md:text-2xl"><a href="mailto:email@dhruv.tech" aria-label="Send an email to email@dhruv.tech">email@dhruv.tech</a></p>
				<div class="mt-8">
					<a aria-label="Connect on Linkedin" href="https://bit.ly/3Djul68" class="rounded-3xl py-3 px-5 mt-3 bg-white text-slate-900 w-60 hover:opacity-90">
						Connect on LinkedIn
						<span class="fa-brands fa-linkedin"></span>
					</a>
				</div>
			</div>

		</section>

		<footer role="contentinfo" class="flex flex-col justify-center align-middle text-center w-full text-xs font-poppins py-10">
			<span class="font-bold">© Dhruv Malik 2023-24. All Rights Reserved.</span>
			<span>Built with Astro, Svelte, Tailwind & Lottie 
			(<a href="https://github.com/dhruv-tech/dhruv.tech" target="_blank" rel="noopener noreferrer" class="underline">View on Github</a>)</span> 
			<span>Version 3.0.3, Last updated 03/10/2023</span>
			<span>Thank you for visiting!</span>
		</footer>

	</ReverseGradientContainer>
</MainLayout>

