---
// Container for solid blue blocks on the site.
---

<div class="bg-gradient-to-tl from-medium-blue via-medium-dark-blue to-dark-blue w-full text-white px-8 overflow-hidden relative">
    <div class="max-w-[1600px] mx-auto overflow-clip">
        <slot>

            (i) This section has not been published yet. Please check back later.

            <br/>
            <br/>

            <small>Status Code: ASTRO_GRADIENTCONTAINER_EMPTY</small>

        </slot>
    </div>
</div>
