---
import Lottie from "astro-integration-lottie/Lottie.astro";

const {thumbnail} = Astro.props;
---

<div class="flex flex-col lg:w-72 justify-center py-6 lg:py-12 items-center text-center font-poppins font-semibold mx-[3%]">
    <div class="h-32 w-32 lg:h-40 lg:w-40">
        <Lottie src={thumbnail} autoplay={"visible"}></Lottie>
    </div>
    <div>
        <h3 class="text-lg lg:text-xl py-3"><slot>Service</slot></h3>
    </div>
</div>