---
// Container for solid blue blocks on the site.
---

<section class="bg-dark-blue w-full text-white px-8">
    <div class="max-w-[1600px] mx-auto">
        <slot>

            (i) This section has not been published yet. Please check back later.

            <br/>
            <br/>

            <small>Status Code: ASTRO_SOLIDCONTAINER_EMPTY</small>

        </slot>
    </div>
</section>
