---
// Main Layout
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="description" content="Software developer focused on web application development and security, 
        with an interest in the internet of things.">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{Astro.props.title}</title>
        <script src="https://unpkg.com/@dotlottie/player-component@1.4.2/dist/dotlottie-player.js" async></script>
        <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    </head>
    <body class="overflow-x-hidden">

        <main>

            <slot>

                <section class="bg-white p-10">
                    <b>(i) The application seems to be under maintenence. Please check back later.</b>
                    
                    <br/>
                    <br/>

                    <small>Status Code: ASTRO_MAINLAYOUT_CONTENT_MISSING</small>
                </section>
                    
            </slot>

        </main>

    </body>
</html>
