---
// Main Layout
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/image/x-icon" href="/favicon.ico" />
        <meta name="description" content="Software developer focused on web application development and security, 
        with an interest in the internet of things.">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{Astro.props.title}</title>
        <script src="https://unpkg.com/@dotlottie/player-component@1.4.2/dist/dotlottie-player.js" async></script>
        <script src="https://kit.fontawesome.com/3d7c623cbf.js" crossorigin="anonymous" defer></script>
    </head>
    <body class="overflow-x-hidden">

        <main>

            <slot>

                <section class="bg-white p-10">
                    <b>(i) The application seems to be under maintenence. Please check back later.</b>
                    
                    <br/>
                    <br/>

                    <small>Status Code: ASTRO_MAINLAYOUT_CONTENT_MISSING</small>
                </section>
                    
            </slot>

        </main>

    </body>
</html>
